// Define colors and their name
$black: #000;
$grey: #efeae9;
$vueGreen: #42b983;
$vueBlack: #2c3e50;

// Semantic definitions
$colorPrimary: $vueGreen;
$colorSecondary: $grey;

// other special color variables
$backgroundColor: rgb(191, 238, 137);
