// Define colors and their name
$black: #000;
$grey: #efeae9;

$vueGreen: #42b983;
$vueBlack: #2c3e50;

$nuxtGreen: #00DC82;
$nuxtDark: #002E3B;

// Semantic definitions
$colorPrimary: $vueGreen;
$colorSecondary: $grey;

// other special color variables
